.row
  .col-md-12
    %h1.d-flex.justify-content-center.mt-5
      = t('bank_account.my_bank_account')
.row.justify-content-start.mt-5
  .col-9
    %h2
      = t('bank_account.transactions')
  .col-3
    %h2 #{t('bank_account.balance')}: #{@bank_account.balance}
